<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Create User</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(() => {
            const avatarFile = $("#avatarFile");
            avatarFile.change(function (e) {
                const imgURL = URL.createObjectURL(e.target.files[0]);
                $("#avatarPreview").attr("src", imgURL);
                $("#avatarPreview").css({ "display": "block" });
            });
        });
    </script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <div th:replace="layout/header :: header"></div>
    <div id="layoutSidenav">
        <div th:replace="layout/sidebar :: sidebar"></div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Create User</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">
                            <a href="/admin/user">User</a> / Create
                        </li>
                    </ol>

                    <div class="row">
                        <div class="col-md-6 col-12 mx-auto">
                            <h3>Create a user</h3>
                            <hr />
                            <form th:action="@{/admin/user/create}" method="post" th:object="${newUser}" enctype="multipart/form-data">
                                <div class="row g-3">
                                    <div class="col">
                                        <label class="form-label mb-1">Email</label>
                                        <input type="email" class="form-control" th:field="*{email}" />
                                    </div>
                                    <div class="col">
                                        <label class="form-label mb-1">Password</label>
                                        <input type="password" class="form-control" th:field="*{password}" />
                                    </div>
                                </div>
                                <div class="row g-3 mt-1">
                                    <div class="col">
                                        <label class="form-label mb-1">Phone</label>
                                        <input type="text" class="form-control" th:field="*{phone}" />
                                    </div>
                                    <div class="col">
                                        <label class="form-label mb-1">FullName</label>
                                        <input type="text" class="form-control" th:field="*{fullName}" />
                                    </div>
                                </div>
                                <div class="mb-3 mt-1">
                                    <label class="form-label mb-1">Address</label>
                                    <input type="text" class="form-control" th:field="*{address}" />
                                </div>
                                <div class="row g-3">
                                    <div class="col">
                                        <label class="form-label mb-1">Role</label>
                                        <select class="form-select" th:field="*{role.name}">
                                            <option value="ADMIN">Admin</option>
                                            <option value="USER">User</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label for="avatarFile" class="form-label">Avatar</label>
                                            <input class="form-control" type="file" id="avatarFile" name="doanphucFile" accept=".png,.jpg,.jpeg" />
                                        </div>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <img style="max-height: 250px; display: none;" alt="avatar preview" id="avatarPreview" />
                                    </div>
                                </div>
                                <div class="row mx-auto">
                                    <a href="/admin/user" class="btn btn-success col-2">Back</a>
                                    <button type="submit" class="btn btn-primary col-2 mx-2">Create</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </main>
            <div th:replace="layout/footer :: footer"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
</body>

</html>
