<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <!-- Include Header and Sidebar using Thymeleaf -->
    <th:block th:replace="~{../layout/header}"></th:block>
    <div id="layoutSidenav">
        <th:block th:replace="~{../layout/sidebar}"></th:block>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Manage Products</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active"><a href="/admin">Dashboard</a> / Product</li>
                    </ol>
                    <div class="row">
                        <div class="col-12 mx-auto">
                            <div class="d-flex justify-content-between">
                                <h3>Table products</h3>
                                <a href="/admin/product/create" class="btn btn-primary">Create a Product</a>
                            </div>

                            <hr />
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Factory</th>
                                        <th scope="col">Sold</th>
                                        <th scope="col">Target</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Loop through products list -->
                                    <tr th:each="product : ${products}">
                                        <th th:text="${product.id}"></th>
                                        <td th:text="${product.name}"></td>
                                        <td th:text="${product.price}"></td>
                                        <td th:text="${product.factory}"></td>
                                        <td th:text="${product.sold}"></td>
                                        <td th:text="${product.target}"></td>
                                        <td>
                                            <a th:href="@{/admin/product/{id}(id=${product.id})}" class="btn btn-success">View</a>
                                            <a th:href="@{/admin/product/update/{id}(id=${product.id})}" class="btn btn-warning">Update</a>
                                            <a th:href="@{/admin/product/delete/{id}(id=${product.id})}" class="btn btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
            <!-- Include Footer using Thymeleaf -->
            <th:block th:replace="~{../layout/footer}"></th:block>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
</body>

</html>
