/* src/components/ProductCard.css */

.product-card-wrapper {
  perspective: 1000px;
}

.product-card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background-color: #fff;
}

.product-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.product-link {
  display: block;
  height: 100%;
}

.image-container {
  background-color: #ffffff;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.product-image {
  max-height: 100%;
  max-width: 100%;
  transition: transform 0.3s ease-in-out;
}

.product-link:hover .product-image {
  transform: scale(1.05);
}

.card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.product-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #333;
}

.product-price {
  font-size: 1.1rem;
}

.product-actions {
  margin-top: 1rem;
}

.details-button {
  background-color: #e3f2fd;
  color: #1e88e5;
  border-color: #bbdefb;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.details-button:hover {
  background-color: #bbdefb;
  color: #1565c0;
  border-color: #90caf9;
}

.add-to-cart-button {
  background-color: #ffcdd2;
  color: #d32f2f;
  border-color: #ef9a9a;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.add-to-cart-button:hover {
  background-color: #ef9a9a;
  color: #b71c1c;
  border-color: #e57373;
}

.add-to-cart-button .bi-cart-plus,
.details-button .bi-info-circle {
  vertical-align: middle;
}


.product-content {
  display: flex;
  flex-direction: row;
}

.image-container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.specs-container {
  width: 30%;
  padding: 3px;
  font-size: 0.85rem;
}

.specs-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.specs-list li {
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #555;
}

.specs-list i {
  margin-right: 4px;
  color: #007bff;
}

.product-title {
  font-size: 0.95rem;
  margin-bottom: 8px;
  height: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-price {
  font-size: 1.1rem;
}

.product-actions {
  width: 100%;
}

.details-button, .add-to-cart-button {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
}

.card-body {
  padding: 0.75rem;
}
